* {
    max-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    scroll-behavior: smooth;

}

/* Colores Principales */

:root {
    --color-fondo: #ffffff;
    --boton: #1f1f1f;
    --dove-gray: #636363;
    --subrayar: #affc62;
    --emperor: #544c4c;
    --box: #f3f3f3;
    --text-buttom: #ffff;
    --text: black;
    --altura_menu: 80px;


}

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');




/*.space-grotesk-<uniquifier> {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-texto-principal);
}
h1{
    font-size: 120px;
    font-style: bold;
    line-height: 100px;
    margin-bottom: 40px;
    text-align:left;
    
}
.resaltar{
    font-size: 140px;
    color: var(--subrayar);
    font-weight: 700;
    
}

p {
    color: var(--color-texto-secundario);
    font-size: 16px;
    font-style:normal;
   
}
.p-hero{
    color: var(--color-texto-secundario);
    font-size: 28px;
    font-style: normal;
    margin-bottom: 40px;
    font-weight: 300;
    
}
/*header*/
.logo {
    width: 70px;
    height: 70px;
}

.btn-whatsapp, .cta-banner {
    display: inline-block;
    background-color: #000000;
    /* Color verde de WhatsApp */
    color: var(--text-buttom);
    /* Texto en blanco */
    padding: 10px 20px;
    border-radius: 22px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-whatsapp-hero{
    display: inline-block;
    background-color: #000000;
    /* Color verde de WhatsApp */
    color: var(--text-buttom);
    /* Texto en blanco */
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-whatsapp:hover, .btn-whatsapp-hero:hover {
    background-color: var(--subrayar);
    /* Color verde más oscuro al pasar el ratón */
    color: black;
    transform: scale(1.1);

}
.cta-banner:hover{
    background-color:var(--subrayar);
    color:black;
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

header {
    height: var(--altura_menu);
    padding-left: 30px;
    padding-right: 30px;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

#menu_burger {
    display: none;
}

.link {
    color: var(--color_blanco);
}

.link:hover {
    color: #38005e;
    transition-duration: .3s;
}

.menu_burger:checked+.ul_links {
    height: calc(100vh - var(--altura_menu));
}

.logo {
    color: var(--color_blanco);
}

.label_burger {
    display: none;
}

.ul_links {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 70px;
    position: absolute;
    right: 2em;
    overflow: hidden;
    justify-content: right;
    align-items: center;
    transition: all .3s ease-in-out;
    font-size: 22px;
    font-style: bold;
}

.burger_icono {
    color: var(--color_blanco);
    cursor: pointer;
}



.link_menu {
    color: black;
}

.link_menu:hover {
    color: rgb(255, 255, 255);
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.container > div:first-child {
    width: 60%; /* Ajusta el tamaño para el texto */
     /* Añade espacio entre el texto y la imagen */
}

.container > div:last-child {
    width: 30%; /* Ajusta el tamaño para la imagen */
    display: flex;
    justify-content: flex-start; /* Mueve la imagen más a la izquierda */
    height: 90vh;
    
}
.img_hero {
    animation: slideInFromRight 1s ease forwards;
}

.text-content {
    animation: slideInFromTop 1s ease forwards;
    
}
@keyframes slideInFromRight {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* slider partners1 */
.parnet{
    width: 90%;
    margin: 0 auto;
    
   margin-bottom: 100px;
  
}
.parnet-child{
    display: flex;
    justify-items: center;
    gap: 5%;
    
   
}
